* {
  padding: 0px;
  margin: 0px;

  /* border: 1px solid; */
}
html {
  width: 100%;
  height: 100%;
}
body {
  /* size */
  width: 100%;
  height: 100%;

  /* colors  */
  background-color: hsl(212, 45%, 89%);

  /* display-system */
  display: flex;
  justify-content: center;
  align-items: center;
}
.container {
  /* size */
  width: 20vw;
  height: fit-content;

  /* colors */
  background-color: aliceblue;

  border-radius: 10px;
}
.container .img {
  width: 90%;
  height: 30vh;

  /* center image */
  margin: 10px auto;
}
.container .img img {
  /* size */
  width: 100%;
  height: 100%;

  border-radius: 10px;
}
.container .txt {
  width: 90%;
  height: fit-content;

  /* center text */
  text-align: center;
  margin: 10px auto;

  /* font */
  font-family: "Outfit", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}
.container .txt * {
  margin-bottom: 10px;
}
.container .txt p {
  opacity: 0.5;
  font-size: 15px;
}
/* Make it responsive for screen widths > 200px*/

/* will apply on widths:  0 - 300 px */
@media only screen and (max-width: 300px) {
  .container {
    width: 40%;
  }
  .container .img {
    height: 10vh;
  }

  .container .txt p,
  h3 {
    font-size: smaller;
  }
}

/* will apply on widths:  300 - 400 px */
@media only screen and (max-width: 400px) {
  .container {
    width: 80%;
  }
}
/* will apply on widths:  400 - 800 px */
@media only screen and (max-width: 800px) {
  .container {
    width: 40%;
  }
}
